@using PracticeProject.ViewModels;
@model TextWorkViewModel
@{
    ViewData["Title"] = "Text for lesson";
}

<link rel="stylesheet" href="~/css/edits.css">

<div class="form-container">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        @{
            await Html.RenderPartialAsync("_CreateText", Model);
        }
       <button type="submit" class="submit-button">Create</button>
    </form>
</div>