@using PracticeProject.ViewModels;
@model LessonViewModel
@{
    ViewData["Title"] = "Create Lesson";
}

<link rel="stylesheet" href="~/css/edits.css">

<h1>Add new Lesson</h1>


<div class="form-container">
    <form method="post" asp-action="Create">
        @{
            await Html.RenderPartialAsync("_CreateLesson", Model);
        }
        <button type="submit" class="submit-button">Create</button>
    </form>
</div>