@using PracticeProject.Data.Enum;
@using PracticeProject.ViewModels;
@model CreateCourseViewModel
@{
    ViewData["Title"] = "Create Course";
}

<link rel="stylesheet" href="~/css/edits.css">

<h1>Create New Course</h1>
<div class="form-container">
    <form method="post" asp-action="Create" enctype="multipart/form-data">

        @{
            await Html.RenderPartialAsync("_CreateCourse", Model);
        }
        <button type="submit" class="submit-button">Create</button>
    </form>
</div>