@model IList<Course>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "My courses";
}

<link rel="stylesheet" href="~/css/courses.css">

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
        @if (User.Identity.IsAuthenticated)
        {
            <section class="courses-container">
                @if (!User.IsInRole("student"))
                {
                    <div class="course">

                        <a style="background-color:forestgreen;" href="@Url.Action("Create", "Course")">
                            + Add new Course
                        </a>

                    </div>
                }
                @{
                    await Html.RenderPartialAsync("_Courses", Model);
                }
            </section>
        }
    </main>
</body>
</html>
