@model ICollection<TextWork>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .add {
        text-align: center;
        background-color: #006400; /* Темно-зеленый цвет */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        display: block;
        text-decoration: none;
        margin: 5px auto;
        width: 90%;
    }

        .add:hover {
            background-color: #00cc00; /* Светло-зеленый цвет при наведении */
            color: #fff;
            text-decoration: none;
        }


    .workText {
        position: relative;
        padding: 10px;
        margin-top: 25px;
    }

    .sel {
        cursor: pointer; /* Добавьте курсор-указатель, чтобы указать, что элемент кликабелен */
    }

        .sel:hover {
            background-color: #ff9999;
            border-radius: 7px;
            color: black;
        }

    .popup {
        font-size: 28px;
        display: none;
        position: absolute;
        top: 0;
        right: 100%; /* Оставьте это значение 100% */
        margin-right: 10px; /* Оставьте это значение 300px */
        padding: 10px;
        width: auto;
        margin: 0 auto;
        color: gray;
    }
    /* New CSS for the pencil icon */
    .pencil-icon {
        position: absolute;
        top: 10px; /* Adjust this value to position it properly */
        right: 10px; /* Adjust this value to position it properly */
        font-size: 20px;
       /* background-color: lightgray;*/
        color: gray;
        border-radius: 50%; /* Make it a circle */
        width: 0px;  /*Ensure a square shape */
        height: 10px; /* Ensure a square shape */
        display: flex;
        align-items: center;
        
    }

        /* Style for the icon inside the circle */
        .pencil-icon i {
            font-size: 14px; /* Adjust the icon size */
        }
</style>

@foreach (var item in Model.OrderBy(x => x.OrderNumber))
{


    <div class="workText">
        <div class="pencil-icon">
            <a href="@Url.Action("Edit", "TextWork", new {id = item.Id})"><i class="fa fa-pencil" style="color: blueviolet;"></i></a>
        </div>
        <div class="sel">@Html.Raw(item.Task)</div>
        <div class="popup">@item.OrderNumber</div>
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<script>
    const triggers = document.querySelectorAll('.sel');
    const popups = document.querySelectorAll('.popup');

    triggers.forEach((sel, index) => {
        sel.addEventListener('mouseenter', () => {
            popups[index].style.display = 'block';
        });

        sel.addEventListener('mouseleave', () => {
            popups[index].style.display = 'none';
        });
    });

</script>