@using PracticeProject.ViewModels;
@model LabWorkViewModel
@{
    ViewData["Title"] = "Edit Labwork";
}


<link rel="stylesheet" href="~/css/edits.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="form-container">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        @{
            await Html.RenderPartialAsync("_CreateLabWork", Model);
        }
        <button type="submit" class="submit-button">Edit</button>
    </form>
    <a type="button" class="btn btn-danger" style="width: 100%; margin-top: 10px;" href="@Url.Action("Delete", "LabWork", new { id = Model.Id})">
        <i class="fa fa-trash"></i> Delete
    </a>
</div>